


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.backimg{
    background-image: url(./pattern.png);
    background-color: #4EA0FF;
    background-size: 28%;
    margin-bottom: 40px;
    padding: 30px 0;
}

.logo{
    height: 50px;
    margin: 0rem;
}

.colorblue{
    color: lightskyblue;
}

.lightgrey{
    color: grey;
}

main{
    margin-left: 10px;
}

.imgs{
    margin-top: 20px;
}

.reducefontsize{
    font-size: 0.7rem;
    margin-top: 5px;
}

.text1{
    margin-top: 20px;
}

.list{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}

table{
    text-align: left;
    border-spacing: 0;
    width: 80%;
    padding: 30px 0;
}

.lightbluetable{
    background-color: lightblue;
}

.headtable {
    background-color: lightskyblue;
}




footer{
   margin:20px;
}

.monitorimg {
     margin-top: 10px;
     width: 200px;
     height: 200px;  
     padding: 40px;
     background-image: url(monitor.jpg);
     background-size: cover;
     background-repeat: repeat;
     background-position: center;
}


.fwhite{
    color: white;
}

.graphimg{
     margin-top: 10px;
     width: 200px;
     height: 200px;  
     padding: 40px;
     background-image: url(graph.jpg);
     background-size: cover;
     background-repeat: repeat;
     background-position: center;
}

.yellow{
    background:#FFFF00;
}
